body{
  background-color: rgb(166, 255, 255);
}

#avatar {
  width: 250px;
  border-radius: 50%;
}

* {
font-family:'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

/* Bootstrap Overrides */
.jumbotron {
  background-color:#969ca1;
}

html {
  scroll-behavior: smooth;
}

#landing {
  height: 87vh;
  margin-top: 70px;
  /*center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#gallery {
  height: 87vh;
  /*center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  padding: 0;
}

h2 {
  color: #007bff;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 15px;
}

